{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "singleAttributePerLine": true
}
